h1 {
  margin: 0;
  padding: 20px 0;    
  color: blue;
  font-size: 52px;
}
#numericos
{
  heigth: 100px;
}
#numHab
{
  width: 60px;
}
#numBath
{
  width: 60px;
}
#numPiso
{
  width: 40px;
}
#descripcion
{
  width: 200px; 
}

