<head>

    <title>Leases</title>

    <link href="css/inicio.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <img src="IMAGENES/logo.jpg" class="logoP"/>

    <div class="formularioL">

        <h3>Iniciar Sesion</h3>

        <form action="login.jsp" method="post" class="user">
            <label>Correo</label><br/>
            <input class="inputsL" type="text" name="correo"/>
            <br/><br/>
            <label>Contrasena</label><br/>
            <input class="inputsL" type="password" name="clave"/>
            <br/><br/>
            <button class="btnL" id="Join" >Log In</button>
        </form>
        
        <br/>
        <button class="btnL" id="Forgot" >Olvide Mi Contraseña</button>
        <br/><br/><br/>
    </div>

    <h4>BUSQUEDA</h4>

    <div class="busqueda">

        <form action="busquedaX.jsp" method="get" class="user">
            <label>Ciudad</label><br/>
            <input type="text" class="inputsB" name="ciudad"/>
            <br/><br/>
            <label>Tipo</label><br/>
            <input type="text" class="inputsB" name="tipo"/>
            <br/><br/>
            <button class="btnB" id="Join" >Siguiente</button>
        <br/><br/>
        </form>
    </div>
</body>