/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2019, 03:44:32 PM
    Author     : Estudiantes
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 260px;
  top: 115px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #330099;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  border-style: solid;
    border-color: #330099;
    border-size: 5px;
    text-align: right;
}

#sidebar header {
  background-color: #641a8c;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
    color: #fff;
    text-align: center;
}


#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.formulario
{
    text-align: left;
}

#price
{
    font-size: 32px;
}

.prce
{
    text-align: center;
}

.inpbox
{
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 70px;
}

#checkG
{
    color: #fff;
}

#logoleases
{
    font-size: 59px;
    color: #fff;
}

.barranav
{
    position: fixed;
    top: 1px;
    height: 110px;
    width: 100%;
    background: #641a8c;
    overflow-y: auto;
    
}

.contenido
{
    position: absolute;
    top: 160px;
    left: 25%;
    margin-right: 10%;
    z-index: -10000;
}