/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/12/2019, 12:06:57 PM
    Author     : Johan
*/
.navbar
{
    width: 98.5%;
    border-style: solid;
    border-color: #03C;
    border-radius: 5px;
    border-width: 5px;
    background: white;
    position: fixed;
    z-index: 1000;
    height: 24%;
}

.userPic
{
    width: 12%;
}

.userPicT
{
    position: absolute;
    left: 10%;
    font-family: arial;
    font-size: xx-large;
    top: 40%;
    color: #fff;
    border-style: solid;
    border-color: #03C;
    border-radius: 5px;
    border-width: 5px;
    background: #03C;
    padding-left: 20px;
    padding-right: 20px;
}

.carrusel
{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background: gray;
}
