@charset "utf-8";
.top
{
    position:absolute;
    left: 21%;
    width: 60%;
    heigth: 30%;	
}

.btnGuide
{
    position: absolute;
    left: 18%;
    width: 15%;
    margin-top: 35%;
} 

.btnStart
{
    position:absolute;
    left:52%;
    width: 20%;
    margin-top: 22%;

}

.btnTeam
{
    position: absolute;
    left: 42%;
    width: 15%;
    margin-top: 35%;
}

.btnSuport
{
    position: absolute;
    left: 67%;
    margin-top: 35%;
    width: 15%;
}

h1
{
    position: absolute;
    font-family: Arial, 			Helvetica, sans-serif;
    font-size:xx-large;
    color: #03C;
    left: 38%;
    margin-top: 28%;
    width: 50%;
    text-align: center;
}

.tap
{
    position: absolute;
    margin-top: 65%;
    background-color: #03C;
    width: 100%;
}

#navbar
{
    position: fixed;
    border-style: ridge;
    border-color: #03C;
    margin-left: 10px;
    width: 98%;
    height: 15%;
    background: #fff;
    z-index: 1000;
    
}

.logo
{
    margin-left: 20px;
    margin-top: 4px;
    width: 23%;
    height: 93px;
}

.titTop
{
    position:absolute;
    left: 150px;
}

.bc1
{
    margin-left: 50%;
    font-size: 24px;
    white-space: normal;
    border-style: solid;
    border-color: #039;
    padding-right: 50px;
    padding-left: 50px;
    position: absolute;
    background: white;
    border-radius: 5px;
    height: 60px;
    margin-right: 10%;
    margin-top: 2%;
    text-align: right;
}

h2
{
    font-size: 72px;
    color: white;
    font-family: arial;
    margin-left: 20%;
}

#correo-help
{
    font-size: 40px;
    color: white;
    font-family: arial;
    margin-left: 20%;
}

.correo-h
{
    border-style: solid;
    border-color: gainsboro;
    margin-left: 20%;
    border-width: 5px;
    width: 60%;
}

.correo-t
{
    border-style: solid;
    border-color: gainsboro;
    margin-left: 20%;
    border-width: 5px;
    width: 60%;
    height: 100px;
}

.logoP
{
    width: 30%;
    position: absolute;
    left: 5%;
}

.formularioL
{
    border-style: solid;
    border-color: #039;
    border-radius: 5px;
    width: 30%;
    position:absolute;
    margin-left: 60%;
    text-align: center;
    top:9%;
    font-family: arial;
}

h3
{
    font-family: arial;
    font-size: xx-large;
    color: #039;
}

h4
{
    margin-top: 33%;
    left: 35%;
    position:absolute;
    font-size: 72px;
    font-family: arial;
    color: #039;
}

.inputsL
{
    border-style: solid;
    border-color: #039;
    border-width: 5px;
    border-radius: 5px;
    width: 60%;
}

.busqueda
{
    left: 27.5%;
    position:absolute;
    margin-top: 41%;
    text-align: center;
    font-size: 30px;
    width: 40%;
    color: blue;
}

.inputsB
{
    border-style: solid;
    border-color: #039;
    border-width: 5px;
    border-radius: 5px;
    width: 100%;
    height: 37px;
}

.btnB
{
    border-style: solid;
    border-color: #039;
    border-width: 5px;
    border-radius: 5px;
    font-size: 24px;
    background: #039;
    color: #fff;
}

.btnL
{
    border-style: solid;
    border-color: #039;
    border-width: 5px;
    border-radius: 5px;
    background: #039;
    color: #fff;
}

.inputS
{
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
    border-size: 5px;
    width: 40px;
}

#sideNums
{
    width: 90%;
    color: #fff;
    margin-right: 20px;
    font-size: 24px;
    font-family: arial;
}

#detail
{
    font-size: xx-large;
    color: #fff;
    margin-right: 20%;
}

#btnSideBarr
{
    background: white;
    border-style: solid;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 27%;
    color: #03C;
    font-weight: bold;
    font-size: 24px
}

#checks
{
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-style: solid;
    border-color: #fff;
    margin-right: 20%;
    margin-left: 20%;
}